CompileFlags:
  Add:
  - --cuda-gpu-arch=sm_120
  - --no-cuda-version-check
Diagnostics:
  Suppress:
  - no_member
  - nested_name_spec_non_tag
  - typename_nested_not_found
  - template_instantiate_undefined
